projeto_final/gen/*
projeto_final/build/*

projeto_final/gcd.txt
projeto_final/sort.txt
projeto_final/teste.txt
projeto_final/teste.txt~
projeto_final/.vscode/launch.json
projeto_final/sort.txt
projeto_final/.vscode/launch.json

